{% extends "base.html" %}
{% block content %}
  <table>
    <tr>
      <td>
        {% for period, top in top_tc %}
          <h3>{{period}} tc earnings</h3>
          <ol>
            {% for user in top -%}
              <li><a href="{{url_for('stats', username=user.username)}}">{{user.username}}</a> {{user.current_tc - user.tc}}</li>
            {% endfor -%}
          </ol>
        {% endfor -%}
      </td>
      <td>
        {% for period, top in top_tc_spenders -%}
          <h3>{{period}} tc spent</h3>
          <ol>
            {% for user in top -%}
              <li><a href="{{url_for('stats', username=user.username)}}">{{user.username}}</a> {{user.tc - user.current_tc}}</li>
            {% endfor -%}
          </ol>
        {% endfor -%}
      </td>
      <td>
        {% for period, top in top_qi -%}
          <h3>{{period}} qi earnings</h3>
          <ol>
            {% for user in top -%}
              <li><a href="{{url_for('stats', username=user.username)}}">{{user.username}}</a> {{user.current_qi - user.qi}}</li>
            {% endfor -%}
          </ol>
        {% endfor -%}
      </td>
      <td>
        {% for period, top in top_posts -%}
          <h3>{{period}} posters</h3>
          <ol>
            {% for user in top -%}
              <li><a href="{{url_for('stats', username=user.username)}}">{{user.username}}</a> {{user.current_posts - user.posts}}</li>
            {% endfor -%}
          </ol>
        {% endfor -%}
      </td>
    </tr>
    <tr>
      {% for stat, _, top_name, top_list in all_tops %}
        <td>
          <h3>Top {{top_name}}</h3>
          <ol>
            {% for user in top_list -%}
              <li><a href="{{url_for('stats', username=user.username)}}">{{user.username}}</a> {{user[stat]}}</li>
            {% endfor -%}
          </ol>
        </td>
      {% endfor %}
    </tr>
  </table>
{% endblock %}
