<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages': ['line', 'corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'Online Users');

        data.addRows([
          {% for row in online_users -%}
            [new Date({{row.time.year}},{{row.time.month - 1}},{{row.time.day}},{{row.time.hour}},{{row.time.minute}}),
              {{-row.online-}}
            ],
          {% endfor -%}
        ]);

        var options = {
          chart: {
            title: 'Online users',
          },
          hAxis: {showTextEvery: 5},
          width: 900,
          height: 500,
          series: [
            {targetAxisIndex: 0},
            {targetAxisIndex: 1}
          ]
        };

        var chart = new google.visualization.LineChart(document.getElementById('linechart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <a href='{{url_for('index')}}'>Index</a>
    <div id="linechart" style="width: 900px; height: 500px"></div>
  </body>
</html>